[submodule "examples/t3tr0s-bare"]
	path = examples/t3tr0s-bare
	url = https://github.com/phronmophobic/t3tr0s-bare.git
[submodule "examples/snake"]
	path = examples/snake
	url = https://github.com/phronmophobic/programming-clojure.git
[submodule "third_party/babashka"]
	path = third_party/babashka
	url = git@github.com:phronmophobic/babashka.git
[submodule "third_party/ios-graal-jdk-21"]
	path = third_party/ios-graal-jdk-21
	url = git@github.com:phronmophobic/ios-graal-jdk-21.git
[submodule "third_party/skia"]
	path = third_party/skia
	url = https://skia.googlesource.com/skia.git
